<app-navbar></app-navbar>
<br>
<div class="col-md-6 col-md-offset-3">
  <flash-messages></flash-messages>
</div>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Sign Up</h1>

    <!-- LOGIN FORM -->
    <form (submit)="onSubmitLogin()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="email" id="email"  name="email" placeholder="Enter E-mail">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" placeholder="Enter Password">
      </div>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="mobile" class="form-control" [(ngModel)]="mobile" name="mobile" id="mobile" placeholder="Enter Mobile">
      </div>
      <button type="submit" md-raised-button color="primary">Sign up!</button>
    </form>

</div>

</div>
