<app-navbar></app-navbar>
<br>
<div class="col-md-6 col-md-offset-3">
  <flash-messages></flash-messages>
</div>
<div class="container">
  <div class="col-sm-6 col-md-offset-3">
    <h4>Change Password</h4>
    <form (submit)="changePassword()">
      <div class="form-group">
        <label for="currentPassword">Curent Password</label>
        <input type="password" class="form-control" [(ngModel)]="currentPassword" id="currentPassword"  name="currentPassword" placeholder="Enter Current Password">
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword" id="newPassword" placeholder="Enter New Password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="Enter Confirm Password">
      </div>
      <button type="submit" md-raised-button color="primary">Change</button>
    </form>
  </div>
</div>
